* {
    margin: 0;
    padding: 0;
    
}
body {
    margin: 20px 10px;
    background: linear-gradient(to right, #212121, #3e3e3e);
    background-size: 200% 100%;
    font-family: "Ubuntu", sans-serif;
    animation: bgColor 5s linear infinite;
}
nav {
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.about {
    width: 70vw;
    height: vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar {
    padding: 0px 10px;
    height: 70px;
    width: 100%;
    animation: refresh 2s alternate;
    background-color: #ffe4c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}
.navbar p, .navbar p b {
    font-size: 32px;
    cursor: pointer;
    /* animation: textUp 1s 4s alternate; */
}
.nav-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.nav-links li {
    list-style: none;
    margin-right: 5px;
    /* animation: fadeUp 1s 4s alternate; */
}
.nav-links li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    transition: 0.5s;
}
.nav-links li a:hover {
    opacity: 60%;
    transition: 0.5s;
}
.section1 {
    margin-top: .85rem;
    height: 55vh;
    width: 45vw;
    background-color: #ffe4c4;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 1rem;
    /* animation: refresh-s1 2s 4s alternate; */
}
.section1 p {
    font-size: 4rem;
    margin: 8rem 5rem 5rem 1rem;
    /* animation: fadeUp 1s 4s alternate; */
}
.section2 {
    margin-top: .85rem;
    height: 55vh;
    width: 20vw;
    background-image: url(assets/images/Me.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 1rem;
    /* animation: start 2s alternate; */
}
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .85rem;
    height: 23vh;
    width: 35vw;
    background-color: #ffe4c4;
    padding: 1rem;
    border-radius: 1rem;
}
.section4 p {
    font-size: .85rem;
    text-align: justify;
    cursor: default;
}
.section5 {
    height: 23vh;
    width: 26.25vw;
    margin-left: .3rem;
    background-color: #4c4a45;
    color: #ffe4c4;
    padding: 1rem;
    border-radius: 10px;
    margin-left: .75rem;
    margin-top: .85rem;
}
.s5-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffe4c4;
    font-weight: 100;
    font-size: .85rem;
    cursor: default;
}
.s5-header i {
    rotate: -45deg;
    margin-bottom: 1.5rem;
    transition: 0.5s;
}

.s5-header i:hover {
    transform: rotate(45deg);
    transition: 0.5s;
}
.section5 p{
    cursor: default;
    font-family: "Lora", serif;
    margin-top: 3.5rem;
    font-size: 4.2rem;
}
.projects {
    position: fixed;
    right: 2.8rem;
    top: 6.5rem;
}
.section3 {
    height: 65vh;
    width: 29vw;
    padding: 1.3rem;
    background-color: #ffe4c4;
    position: relative;
    left: 2rem;
    border-radius: .5rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.header h4 {
    font-size: 2rem;
}
.header i {
    rotate: -45deg;
    transition: 0.5s;
}
.header i:hover {
    rotate: 0deg;
    transition: 0.5s;
}
.s3-img {
    margin-top: 20px;
    height: 40%;
    width: 100%;
    border-radius: 10px;
    background-image: url(assets/images/s3-img.jpeg);
    background-size: cover;
    background-position: center;
}
.section3 hr {
    width: 100%;
    height: 0.1rem;
    background-color: black;
    border: black;
    margin-top: 2rem;
}
a {
    text-decoration: none;
}
.menu__link {
    top: -.1rem;
    color: black;
    line-height: 2;
    font-size: 1.25rem;
    position: relative;
}
  
.menu__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
}
  
.menu__link:hover::before {
    width: 100%;
}
.section6 {
    position: fixed;
    bottom: 1;
    right: 0;
    margin-top: .6rem;
    margin-right: .8rem;
    width: 29vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.3rem;
    background-color: #ffe4c4;
    border-radius: .5rem;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials ul {
    width: 450px;
    display: flex;
    justify-content: space-around;
}
.socials ul li {
    list-style: none;
}
.socials ul li a {
    color: #212121;
    font-size: 20px;
    line-height: 2;
    position: relative;
}
.socials  ul li a::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
}
.socials ul li a:hover::before {
    width: 100%;
}
@keyframes bgColor {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
@keyframes refresh {
    from {
        width: 0%;
        opacity: 0%;
    }
    to {
        width: 100%;
        opacity: 100%;
    }
}
@keyframes refresh-s1 {
    from {
        width: 0%;
        height: 0;
        opacity: 0%;
    }
    to {
        width: 600px;
        height: 400px;
        opacity: 100%;
    }
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}
@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}
@keyframes start {
    from {
        transform: translateX(-100px);
        transform: translateY(70px);
    }
    to {
        transform: translateX(0px);
        transform: translateY(0px);
    }
}
@keyframes zoomIn {
    33% {
        transform: scale(0.5);
    }
    66% {
        transform: rotate(360deg);
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.1);
    } 
}