* {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 9em;
}

.heading {
    text-align: center;
    font-family: "Oswald";
    font-size: 2.5em;
    height: 10vh;
    background-color: #4E342E;
    color: #FFD9AB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    width: 100vw;
    background-color: #4E342E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFD9AB;
    overflow: hidden;
}
.hero-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero h1 {
    width: fit-content;
    font-family: "Oswald";
    font-size: 40vh;
    text-transform: uppercase;
}


/* About Me */

.mycontainer {
    display: flex;
    flex-direction: column;
    padding: 3em;
    justify-content: center;
    align-items: center;
}

.mycontainer .mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.mycontainer .mywork h2 {
    font-family: "Oswald";
    font-size: 3.5em;
    color: #4E342E;
}

.mycontainer .mywork p {
    font-family: "Kameron";
    font-size: 1.25em;
    background-color: #4E342E;
    color: #FFD9AB;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.more-text {
    display: none;
}

.read-more-btn {
    color: #A49083;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
}

.read-more-btn:hover {
    text-decoration: underline;
}
.languages {
    display: flex;
    flex-direction: column;
}
.about-heading {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-heading h1 {
    width: 100vw;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    text-align: center;
    color: #FFD9AB;
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    background-color: #4E342E;
}

.languagesList {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

/* Cards */
.card {
    overflow: visible;
    width: 22%;
    height: 254px;
    margin-bottom: 2em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-family: "Kameron";
}

.card strong {
    font-family: "Oswald";
    font-size: .9em;
    color: #FFD9AB;
    font-weight: 500;
}

.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}

.front,
.back {
    background-color: #4E342E;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #FFD9AB, #FFD9AB, #FFD9AB, #FFD9AB, transparent);
    animation: rotation_481 5000ms infinite linear;
}

.back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #4E342E;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.back-content svg {
    height: 150px;
    width: 150px;
}
.back-content strong::before {
    content: "Hover To Get More Details";
}
.card:hover .content {
    transform: rotateY(180deg);
}


.front {
    transform: rotateY(180deg);
    color: white;
}

.front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.front-content .badge {
    background-color: #4e342ec5;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
    color: #FFD9AB;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 14px;
    color: #FFD9AB;
    padding: .5em;
    border-radius: 5px;
    border: 2px solid #FFD9AB;
    width: fit-content;
    background-color: #4E342E;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #A49083;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #4E342E;
}

.progress {
    height: 100%;
    border-radius: 5px;
    transition: width 0.4s ease;
}
.level {
    background-color: #ffd9ab61;
    border-radius: 30px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    color: #4E342E;
    border: 2px solid #4E342E;
}

.front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #FFD9AB;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
}

#bottom {
    background-color: #FFD9AB;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
}

#right {
    background-color: #FFD9AB;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
}
/* Career */
.career {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.career .heading {
    background-color: #4E342E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    margin-top: 2em;
    margin-bottom: 2em;
}
.career .heading h1 {
    text-align: center;
    font-family: "Oswald";
    font-size: 2.5rem;
    color: #FFD9AB;
}
.journey {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.journey p {
    font-family: "Kameron";
    text-align: center;
    font-size: 24px;
    background-color: #4E342E;
    color: #FFD9AB;
    padding: 20px;
    border-radius: 10px;
    line-height: 50px;
}
/* Services */
.services {
    width: 100vw;
    margin-top: 100px;
}
.services .mycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sub-service {
    width: 80vw;
    gap: 5px;
    color: #FFD9AB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-service .main {
    width: 100%;
    font-family: "Oswald";
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #4E342E;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.sub-service .main:hover {
    background-color: #A49083;
}
.sub-service .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #4E342E;
    padding: 20px;
    font-family: "Kameron";
    font-size: 22px;
    border-radius: 10px;
    transition: max-height 0.5s ease, padding 0.5s ease;
    display: none;
} 
.sub-service .description.active {
    display: block;
}
/* Learning */
.learning {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learning h2 {
    width: 100%;
}
.sub-learning {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 10px;
}
.sub-learning h2{
    color: #4E342E;
    font-size: 50px;
    font-family: "Oswald";
    text-decoration: underline;
    text-align: center;
}
.sub-learning p {
    background-color: #4E342E;
    color: #FFD9AB;
    padding: 10px;
    text-align: center;
    font-family: "Kameron";
    border-radius: 10px;
    font-size: 24px;
}
/* Philosophy */
.philosophy .mycontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex: 4;
}




@media (max-width: 1200px) {
    .languagesList {
        flex: 2;
    }
    .card {
        width: 45%;
    }
    .back-content strong::before {
        content: "Tap To Get More Details";
    }
    .hero-content {
        flex-direction: column;
    }
    .hero-content h1 {
        font-size: 25vh;
    }
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .mycontainer .mywork h2 {
        font-size: 3em;
    }
    
    .languages h1 {
        font-size: 2em;
    }
    
    .languagesList {
        flex: 1;
    }
    .card {
        width: 95%;
    }
    .hero-content h1 {
        font-size: 15vh;
    }
    .sub-service .main h2{
        font-size: 1.25em;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    
    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}
@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }
    
    0% {
        transform: rotateZ(360deg);
    }
}