* {
    margin: 0;
    padding: 0;
}
/* Hero-Section */
.hero {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.hero .mycontainer {
    font-family: "Oswald", sans-serif;
    /* margin-top: px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
    background-image: url(https://github.com/syedhamza6448/Portfolio/blob/main/Assets/images/bg-img.jpg?raw=true);
    background-position: center;
    background-size: cover;
}
.title {
    width: 80%;
    margin-bottom: -90px;
}
.title h5{
    color: #4481be;
    font-size: 5vw;
    animation: title 2s 1 ease-in;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.name {
    width: 80%;
    animation: name 1s 1 ease-in;
    overflow: hidden;
}
.name h1{
    font-size: 27vw;
    background: linear-gradient(to bottom, #2ebccc, #2ECC71 40%, #2ebccc);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4481be;
    margin-top: -70px;
    animation: info 3s 1 ease-in;
}
.info p {
    font-size: 2vw;
    font-weight: 600;
    padding: 0 50px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Introduction */
.introduction {
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 100vh;
    position: sticky;
    background-image: url(/Assets/images/intro-bg.avif);
    /* background: linear-gradient(45deg, green, lime, green, rgb(17, 131, 17)); */
    background-size: 300% 300%;
    background-size: contain;
    animation: color-animation 12s ease-in-out infinite;
    font-family: Kameron, sans-serif;
    overflow: hidden;
}
.big-intro {
    height: 100%;
    width: 50%;
    margin-left: 4em;
}
.big-intro h1 {
    font-size: 8em;
    color: #F5F6FA;
    z-index: 12;
    cursor: default;
}
.big-intro h1 i {
    font-size: 7rem;
    color: #2ECC71;
}
.big-intro h1 i b {
    font-size: 8rem;
    color: #2ECC71;
    text-decoration: underline;
}
.circle {
    position: absolute;
    height: 800px;
    width: 800px;
    background-color: #2ECC71;
    margin-top: 130px;
    /* margin-right: -1100px; */
    right: -100px;
    border-radius: 50%;
    z-index: 123;
    display: flex;
    justify-content: start;
    align-items: start;
    border: 10px solid #F5F6FA;
}
.circle img {
    border-radius: 50%;
    background-position: left;
    background-size: contain;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 30px;
    left: 30px;
}

@media (max-width: 1300px) {
    /* Hero */
    .title {
        margin-bottom: -50px;
    }
    .info {
        margin-top: -40px;
    }
    /* Intro */
    .introduction {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .big-intro h1 {
        font-size: 5.5em;
    }
    .big-intro {
        width: 90%;
        margin-top: 5em;
        margin-left: 2em;
        margin-right: 2em;
    }
    .circle {
        position: static;
        height: 500px;
        width: 500px;
        margin-top: 10px;
        border-radius: 50%;
        z-index: 123;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 10px solid #F5F6FA;
    }
    .circle img {
        border-radius: 50%;
        background-position: left;
        background-size: contain;
        width: 95%;
        height: 95%;
        position: static;
    }
    
}
@media (max-width: 600px) {
    /* Hero */
    .hero {
        height: 100vh;
        width: 100vw;
    }
    .name h1{
        font-size: 28vw;
    }
    .title {
        margin-bottom: -20px;
    }
    .title h5 {
        color: #F5F6FA;
    }
    .info {
        margin-top: -20px;
    }
    .info p{
        color: #F5F6FA;
        font-size: 14px;
        padding: 0;
    }
    /* Intro */
    .introduction {
        height: 90vh;
    }
    .big-intro {
        width: 90%;
        margin-top: 5em;
        margin-left: 0em;
        margin-right: 0em;
    }
    .big-intro h1 {
        font-size: 3em;
        text-align: center;
    }
    .big-intro h1 i {
        font-size: 1em;
    }
    .big-intro h1 i b {
        font-size: 1.3em;
    }
    .circle {
        margin-top: -40px;
        position: static;
        height: 400px;
        width: 400px;
    }
}
@keyframes name {
    from {
        transform: rotateX(-90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
@keyframes title {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
@keyframes info {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
@keyframes color-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}