* {
    margin: 0;
    padding: 0;
}

/* Hero-Section */
.hero {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.hero .mycontainer {
    font-family: "Oswald", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
    /* background-image: url(/Assets/images/bg-img.jpg); */
    background-position: center;
    background-size: cover;
}

.title {
    width: 80%;
    margin-bottom: -90px;
}

.title h5 {
    color: #4E342E;
    font-size: 5vw;
    animation: title 2s 1 ease-in;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.name {
    width: 80%;
    animation: name 1s 1 ease-in;
    overflow: hidden;
}

.name h1 {
    font-size: 27vw;
    color: #A49083;
    /* background: linear-gradient(-45deg, #4E342E 10%, #CFBEAD 80%, #4E342E);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  */
    font-weight: bold;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4E342E;
    margin-top: -70px;
    animation: info 3s 1 ease-in;
}

.info p {
    font-size: 2vw;
    font-weight: 600;
    padding: 0 50px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Introduction */
.introduction {
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 100vh;
    background-color: #4E342E;
    position: sticky;
    /* background-image: url(/Assets/images/intro-bg.avif); */
    /* background: linear-gradient(45deg, green, lime, green, rgb(17, 131, 17)); */
    background-size: 300% 300%;
    background-size: contain;
    animation: color-animation 12s ease-in-out infinite;
    font-family: Kameron, sans-serif;
    overflow: hidden;
}

.big-intro {
    height: 100%;
    width: 50%;
    margin-left: 4em;
}

.big-intro h1 {
    font-size: 8em;
    color: #A49083;
    z-index: 12;
    cursor: default;
}

.big-intro a {
    text-decoration: none;
    color: #A49083;
    font-weight: 200;
}
.big-intro h1 a b {
    color: #FFD9AB;
}

.big-intro h1 i {
    font-size: 7rem;
    color: #CFBEAD;
}

.big-intro h1 i b {
    font-size: 8rem;
    color: #FFD9AB;
    text-decoration: underline;
}

.big-intro h1 i b:hover {
    animation: font-change 5s infinite ease-in-out;
}

.circle {
    position: absolute;
    height: 800px;
    width: 800px;
    background-color: #A49083;
    margin-top: 130px;
    right: -100px;
    border-radius: 50%;
    z-index: 123;
    display: flex;
    justify-content: start;
    align-items: start;
    border: 10px solid #FFD9AB;
    animation: profile 5s infinite ease-in-out;
}

.circle img {
    border-radius: 50%;
    background-position: left;
    background-size: contain;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 30px;
    left: 30px;
}

/* About */
.about {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    /* padding: 20px; */
    flex-direction: column;
}

.about h1 {
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

.about h1 a {
    text-align: center;
    font-family: "Kameron";
    font-size: 2em;
    color: #4E342E;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.about h1 a:hover {
    color: #A49083;
    text-decoration: underline;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
}

.about .myWork {
    width: 70%;
    margin-left: 20px;
}

.myWork .aboutMe {
    height: 50%;
}

.myWork .aboutMe h1 {
    text-align: left;
    font-size: 5rem;
    color: #4E342E;
    font-family: "Oswald";
}

.myWork .aboutMe p {
    font-size: 1.5rem;
    padding: 1em;
    width: 80%;
    border-radius: 10px;
    font-family: "Kameron";
    color: #FFD9AB;
    background-color: #4E342E;
}

.p-languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-languages h1 {
    font-family: "Oswald";
    color: #4E342E;
    text-align: center;
    width: 400px;
}

.p-languages .mycontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.p-languages .mycontainer .sub-languages svg {
    height: 80px;
    width: 200px;
    border-radius: 10px;
}

.p-languages .mycontainer .sub-languages p {
    font-size: 1.25em;
    text-align: center;
    font-family: "Oswald";
    color: #FFD9AB;
}

.sub-languages {
    background-color: #4E342E;
    border-radius: 10px;
    padding: 10px 0px;
}

/* Projects */

.projects {
    width: 100vw;
    min-height: fit-content;
    background-color: #4E342E;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h1 {
    text-align: center;
    padding-top: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.projects h1 a {
    text-align: center;
    font-family: "Kameron";
    font-size: 2em;
    color: #FFD9AB;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.projects h1 a:hover {
    color: #A49083;
    text-decoration: underline;
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
}

.projectHolder {
    width: 30%;
    height: 515px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFD9AB;
    margin-bottom: 2em;
}

.projectHolder img {
    height: 75%;
    width: 100%;
    border-radius: 5px;
}

.projectHolder h1 {
    background-color: #FFD9AB;
    padding: 10px;
    text-align: left;
    margin-bottom: 0;
    color: #4E342E;
}

.projectHolder a {
    background-color: #FFD9AB;
    padding: 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: -.5em;
    padding: 0;
    color: #A49083;
}
.projectHolder a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}
.projectHolder a p:hover , .projectHolder a i:hover{
    color: #4E342E;
    transition: all 0.5s;
}
.projectHolder a p {
    padding-left: 10px;
    overflow-y: hidden;
}

.projectHolder a i {
    padding: 0;
    animation: arrow 3s infinite ease-in-out;
    transform: rotate(-45deg);
}
.projects h2 a{
    margin-top: 6em;
    text-decoration: none;
    color: #FFD9AB;
    font-family: "Kameron";
}
.menu__link  {
    top: 10px;
    color: #FFD9AB;
    line-height: 2;
    /* font-size: 24px; */
    position: relative;
    transition: all .4s;
}

.menu__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #FFD9AB;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: all .4s;
}
.menu__link:hover::before {
    width: 100%;
    background-color: #FFD9AB;
}
.menu__link:hover {
    color: #FFD9AB;
    font-weight: 600;
}

@media (max-width: 1300px) {

    /* Hero */
    .title {
        margin-bottom: -50px;
    }

    .info {
        margin-top: -40px;
    }

    /* Intro */
    .introduction {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .big-intro h1 {
        font-size: 5.5em;
    }

    .big-intro {
        width: 90%;
        margin-top: 5em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .circle {
        position: static;
        height: 800px;
        width: 800px;
        margin-top: 10px;
        border-radius: 50%;
        z-index: 123;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle img {
        border-radius: 50%;
        background-position: left;
        background-size: contain;
        width: 95%;
        height: 95%;
        position: static;
    }

    /* About */
    .about {
        overflow: hidden;
        flex-direction: column;
        width: 100vw;
        cursor: default;
        height: auto;
    }

    .about .aboutContainer .myWork .aboutMe {
        align-items: center;
        justify-content: center;
        /* margin-left: 0; */
    }

    .about .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about .myWork {
        margin-left: 0;
    }

    .about .myWork .aboutMe {
        width: 95vw;
        margin-left: 2vw;
    }

    .about .myWork .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .myWork .aboutMe p {
        width: 100%;
        text-align: center;
        display: flex;
    }

    .about .myWork .aboutMe h1 {
        text-align: center;
    }

    .p-languages .mycontainer {
        flex-direction: row;
    }

    .sub-languages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p-languages .mycontainer .sub-languages svg {
        width: 85px;
    }

    /* Projects */
    .projectsContainer {
        flex-direction: column;
        width: 90vw;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .projectHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 500px;
        padding: 10px;
        border-radius: 5px;
        background-color: #FFD9AB;
        margin-bottom: 2em;
    }

}

@media (max-width: 600px) {

    /* Hero */
    .hero {
        height: 100vh;
        width: 100vw;
    }

    .name h1 {
        font-size: 28vw;
    }

    .title {
        margin-bottom: -20px;
    }

    .info {
        margin-top: -20px;
    }

    .info p {
        font-size: 14px;
        padding: 0;
    }

    /* Intro */
    .introduction {
        height: 90vh;
    }

    .big-intro {
        width: 90%;
        margin-top: 5em;
        margin-left: 0em;
        margin-right: 0em;
    }

    .big-intro h1 {
        font-size: 3em;
        text-align: center;
    }

    .big-intro h1 i {
        font-size: 1em;
    }

    .big-intro h1 i b {
        font-size: 1.3em;
    }

    .circle {
        margin-top: -40px;
        position: static;
        height: 400px;
        width: 400px;
        animation: none;
    }

    /* About */
    /* Wasn't Necessary */

    /* Projects */

}

/* Hero */
@keyframes name {
    from {
        transform: rotateX(-90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

@keyframes title {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

@keyframes info {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

/* Introduction */
@keyframes color-animation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes font-change {
    0% {
        font-family: "Playfair Display", serif;
    }

    50% {
        font-family: "Oswald", serif;
    }

    100% {
        font-family: "Kameron", serif;
    }
}

@keyframes profile {
    0% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateX(40px);
    }

    75% {
        transform: translateX(40px);
    }

    100% {
        transform: translateY(-40px);
    }
}

/* About */
/* Wasn't Necessary */

/* Projects */