* {
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 40px;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: start;
    padding: 20px;
    align-items: center;
    font-family: "Oswald";
    color: #4E342E;
    text-decoration: underline;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    width: 100vw;
    background-color: #4E342E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFD9AB;
    overflow: hidden;
}

.hero-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero h1 {
    width: fit-content;
    font-family: "Oswald";
    font-size: 40vh;
    text-transform: uppercase;
    text-decoration: underline;
}

/* All Projects */
.all-projects {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-projects .mycontainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
    flex: 2;
}

/* Cards */
.card {
    width: 45%;
    height: 500px;
    perspective: 1000px;
    background-color: transparent;
    border: 0px;
    font-family: "Oswald";
    margin-bottom: 20px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:active .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #4E342E;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
    padding: 10px;
}
.card-front img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 4px solid #FFD9AB;
    transition: all 1s ease;
}
.card-front img:hover {
    scale: 1.015;
}
.card-front h2 {
    font-size: 30px;
    color: #FFD9AB;
    cursor: default;
    font-family: "Kameron";
}
.card-front a {
    background-color: #FFD9AB;
    color: #4E342E;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    transition: color, background-color 1s ease;
    font-family: "Kameron";
    text-decoration: none;
}
.card-front a:hover {
    background-color: transparent;
    color: #FFD9AB;
    text-decoration: underline;
}
.card-front p {
    margin-top: 45px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(2px);
    background-color: #FFD9AB;
    border-radius: 30px;
    color: #4E342E;
    cursor: default;
    transition: color, background-color 1s ease;
}
.card-front p:hover {
    background-color: transparent;
    color: #FFD9AB;
}

.card-back {
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #4E342E;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
    padding: 10px;
    background-color: #FFD9AB;
}
.card-back .overview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overview h1 {
    color: #4E342E;
}
.overview p {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-family: "Kameron";
    border:5px solid #A49083;
    color: #FFD9AB;
    border-radius: 10px;
    background-color: #4e342e;
}
.soon {
    justify-content: center;
    align-items: center;
    color: #FFD9AB;
    border-top: inset 5px #FFD9AB;
    border-left: inset 5px #FFD9AB;
    border-right: inset 5px #A49083;
    border-bottom: inset 5px #A49083;
    background-color: #4e342e;
    cursor: default;
    text-align: center;
}
@media (max-width: 1200px) {
    .hero h1 {
        font-size: 15vh;
    }
    .all-projects .mycontainer {
        flex-direction: column;
    }
    .card {
        width: 90%;
    }
}
@media (max-width: 600px) {
    .hero h1 {
        font-size: 10vh;
    }
    /* All Projects */

    /* Cards */
    .card {
        width: 90%;
    }
    .card-front a {
        font-size: small;
    }
}